$primary: #0054c7;
$secondary: #f4d62e;
//$success: $green;
//$info: $cyan;
//$warning: $yellow;
//$danger: $red;
//$light: $gray-100;
//$dark: $gray-800;

$enable-rounded: false;
$enable-responsive-font-sizes: true;

$font-family-sans-serif: 'Raleway', Roboto, Arial, sans-serif;
$font-family-serif: 'Roboto Slab', 'Times New Roman', Times, serif;

$font-family-base: $font-family-serif;

// Heading
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 800;
