$primary: #c71f16;
$secondary: #e5e5e5;
//$success: $green;
//$info: $cyan;
//$warning: $yellow;
//$danger: $red;
//$light: $gray-100;
//$dark: $gray-800;

$enable-rounded: false;
$enable-responsive-font-sizes: true;

$font-family-sans-serif: "Raleway", Roboto, Arial, sans-serif;
$font-family-serif: "Libre Baskerville", "Times New Roman", Times, serif;

$font-family-base: $font-family-serif;

// Heading
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 800;
