@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Raleway:800&display=swap');

@import 'variables';
@import 'custom-bootstrap';
@import 'react-burger-menu';

.text-color {
  color: currentColor;
}

.font-icon {
  fill: currentColor;
  height: 1.2em;
}

.text-center-left-md {
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: left;
  }
}
.text-center-right-md {
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: right;
  }
}
