:root {
  --rbm-button-size: 36px;
  --primary: #0054c7;
  --primary-dark: #004096;
  --secondary: #f4d62e;
  --secondary-dark: #e3c20c;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: var(--rbm-button-size);
  height: var(--rbm-button-size);
  z-index: initial !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--secondary);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--secondary-dark);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  position: absolute;
  height: var(--rbm-button-size) !important;
  width: var(--rbm-button-size) !important;
}
.bm-cross-button > span {
  /* Reset inline styling with !important */
  position: initial !important;
  top: initial !important;
  right: initial !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--primary);
  /* Doesn't seem to respect values without !important */
  width: 7px !important;
  height: 36px !important;
}

.bm-menu-wrap {
  position: fixed;
  height: 100vh;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: var(--secondary);
  padding: 2.5em 0.5em 0;
  font-weight: 700;
  font-size: 1.5rem;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
  list-style: none;
}

.bm-item-list > ul > li > a,
.bm-item-list > ul > li > a:visited {
  color: var(--primary);
}

.bm-item-list > ul > li > a:focus,
.bm-item-list > ul > li > a:hover {
  color: var(--primary-dark);
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.3s ease 0s;
  left: 0;
  top: 0;
}
