name: CI

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    uses: browniebroke/github-actions/.github/workflows/ts-lint.yml@v1
  deploy:
    uses: browniebroke/github-actions/.github/workflows/netlify-deploy.yml@v1
    with:
      netlify_site_id: '4b203ef5-3ac6-4b51-afcb-564239b2ef86'
      publish_dir: 'out'
    secrets:
      netlify_auth_token: ${{ secrets.NETLIFY_AUTH_TOKEN }}
