name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    # Read node version from `.nvmrc` file
    - id: nvmrc
      uses: browniebroke/read-nvmrc-action@v1

    - uses: actions/setup-node@v2
      with:
        node-version: '${{ steps.nvmrc.outputs.node_version }}'

    - name: Install Deps
      run: yarn
    - name: Deploy
      run: yarn workspace sanity-studio deploy
      env:
        SANITY_AUTH_TOKEN: ${{ secrets.SANITY_AUTH_TOKEN }}
