name: Deploy Sanity Studio

on:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup nodejs
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Install Deps
      run: yarn
    - name: Deploy
      run: yarn workspace deploy
      env:
        SANITY_AUTH_TOKEN=${{ secrets.SANITY_AUTH_TOKEN }}
